@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz@9..40&display=swap');

html{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: relative;
}

body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    font-family: Arial, sans-serif;
    letter-spacing: 0.4px;
    background-color: #9DB2BF;
}

.App{
    display: grid;
    grid-template-columns: 40% 60%;
}

/* CV Preview */

#cv-preview{
    font-family: 'Playfair Display', serif;
    flex: 1;
    border: 1px solid #ccc; 
    height: fit-content;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 20px;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0, 0.5);
}

/* Personal Info Preview */

#pi-preview{
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: center;
}

#address{
    display: flex;
    flex-direction: column;
    text-align: left;
    margin: 0;
    padding: 0;
    font-size: 13px;
}

#address > p {
    margin: 0;
    padding: 0;
}

#name{
    font-size: 26px;
    font-weight: bold;
    margin: 0;
    padding: 0;
}

#right-pi{
    font-size: 12px;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    text-align: right;
}

#right-pi > p {
    margin: 0;
    padding: 0;
}

/* Education Preview */

#ed-preview > h3 {
    margin-bottom: 0;
}

#ed-preview > h3::after {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background-color: black;
    margin-top: 5px;
}

#ed-preview > ul {
    margin-top: 0;
}

#ed-items{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#left-ed{
    display: flex;
    flex-direction: column;
    text-align: left;
}

#left-ed > p {
    margin: 0;
    padding: 0;
}

#school{
    font-size: 15px;
    font-weight: bold;
}

#degree{
    font-size: 12px;
}

#right-ed{
    display: flex;
    flex-direction: column;
    text-align: right;
}

#right-ed > p {
    margin: 0;
    padding: 0;
}

#schoolCity{
    font-size: 14px;
}

#degreeTime{
    font-size: 13px;
}

/* Experience Preview */

#exp-preview > h3 {
    margin-bottom: 0;
}

#exp-preview > h3::after {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background-color: black;
    margin-top: 5px;
}

#exp-preview > ul {
    margin-top: 0;
}

#exp-items{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#left-exp{
    display: flex;
    flex-direction: column;
    text-align: left;
}

#left-exp > p {
    margin: 0;
    padding: 0;
}

#company{
    font-size: 15px;
    font-weight: bold;
}

#position{
    font-size: 12px;
}

#Time{
    text-align: right;
    font-size: 13px;
}

#right-exp > p {
    margin: 0;
    padding: 0;
}

#expDesc{
    font-size: 14px;
    margin: 0;
}

/* Projects Preview */

#proj-preview > h3 {
    margin-bottom: 0;
}

#proj-preview > h3::after {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background-color: black;
    margin-top: 5px;
}

#proj-preview > ul {
    margin-top: 0;
}

#proj-items{
    display: grid;
    grid-template-columns: 70% 30%;
    align-items: center;
}

#left-proj{
    display: flex;
    flex-direction: column;
    text-align: left;
}

#left-proj > p {
    margin: 0;
    padding: 0;
}

#right-proj{
    display: flex;
    flex-direction: column;
    text-align: right;
}

#right-proj > p {
    margin: 0;
    padding: 0;
    padding-bottom: 3px;
}

#projects{
    font-size: 15px;
    font-weight: bold;
}

#liveLink{
    font-size: 13px;
    font-weight: lighter;
}   

#githubLink{
    font-size: 13px;
    font-weight: lighter;
}

#projDesc{
    font-size: 14px;
    margin: 0;
}

/* Position of responsibility Preview */

#por-preview > h3 {
    margin-bottom: 0;
}

#por-preview > h3::after {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background-color: black;
    margin-top: 5px;
}

#por-items{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#left-por{
    display: flex;
    flex-direction: column;
    text-align: left;
}

#left-por > p {
    margin: 0;
    padding: 0;
}

#right-por{
    display: flex;
    flex-direction: column;
    text-align: right;
}

#right-por > p {
    margin: 0;
    padding: 0;
}

#por-preview > ul {
    margin-top: 0;
}

/* Achievements Preview */

#ach-preview > h3 {
    margin-bottom: 0;
}

#ach-preview > h3::after {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background-color: black;
    margin-top: 5px;
}

#ach-preview > ul {
    margin-top: 0;
}

#ach-preview > ul > li > p {
    margin: 0;
    font-size: 14px;
}

/* FORM */

.cv-form{
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
    justify-content: space-evenly;
    gap:10px;
    font-family: 'DM Sans', sans-serif;
    margin-top: 30px;
}

.form-section{
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0, 0.5);
    border: 2px solid #27374D;
}

.form-section > h2{
    margin-top: 0;
}

.input-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.input-section > div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;

}

.inputs{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.inputs > div{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

#personalInfo-input{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

#personalInfo-input > div{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

#form-func-buttons{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-bottom: 20px;
}


#achievements-form{
    width: 80%;
}

input[type="text"]{
    width: 100%;
    height: 30px;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 14px;
}

input[name="description"]{
    width: 94%;
} 

.add-button{
    width: 60%;
    height: 30px;
    border-radius: 5px;
    border: 2px solid green;
    background-color: #FFFFFF;
    font-size: 14px;
    cursor: pointer;
}

.add-button:hover{
    background-color: green;
    color: #FFFFFF;
}

.remove-button{
    width: 40%;
    height: 30px;
    border-radius: 5px;
    border: 2px solid red;
    background-color: #FFFFFF;
    font-size: 14px;
    cursor: pointer;
}

.remove-button:hover{
    background-color: #FF0000;
    color: #FFFFFF;
}

.ff-button{
    appearance: none;
    padding: 15px;
    font-size: 15px;
    border-radius: 10px;
    background: #27374D;
    border: 2px solid #ffffff;
    color: #FFFFFF;
    cursor: pointer;
}

.ff-button:hover{
    background-color: #FFFFFF;
    color: #27374D;
}

input[name="achievement"]{
    width: 200%;
}

#achievements-form > div > button{
    width: 130%;
}

/* Footer */

footer{
    width: 100%;
    text-align: center;
    background-color: #27374D;
    margin-top: 20px;
    height: 60px;
    padding-top: 40px;
}

footer > p {
    margin: 0;
    padding: 0;
    font-size: 20px;
    text-align: center;
}

footer > p > a {
    text-decoration: none;
    color: #FFFFFF;
}